/* Start https://www.cursors-4u.com */
* {
  cursor: url(https://cur.cursors-4u.net/toons/too-10/too933.cur), auto !important;
} /* End https://www.cursors-4u.com */

@font-face {
  font-family: AvatarFont;
  src: url(Avatar\ Airbender.ttf);
}
@font-face {
  font-family: Hernaculum;
  src: url(Herculanum-Regular\ 3.ttf);
}
* {
  margin: 0 auto;
  padding: 0 auto;

  font-family: AvatarFont;
}

html,
body {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #80d0ee,
    #00dfeb,
    #00eac5,
    #47ef81,
    #a8eb12
  );
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* BUTTON STYLING */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-allies-keyframe {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-allies-keyframe:before {
  content: "";
  background: linear-gradient(45deg, #028a19, #48ff00, #00ffd5);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: button-allies-keyframe 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes button-allies-keyframe {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-allies-keyframe:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-enemies-keyframe {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-enemies-keyframe:before {
  content: "";
  background: linear-gradient(45deg, #fa0000, #f14c4c, #7f051b);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: button-enemies-keyframe 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes button-enemies-keyframe {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-enemies-keyframe:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#enemies-btn {
  margin-left: 30px;
}

h2 {
  margin-top: 20px;
  font-size: 40px;
}

p {
  font-size: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.image-container {
  /* flex-grow: 1; Image container takes remaining space */
  text-align: center; /* Center the image horizontally */
  width: 100%;
  height: 100%;
}

.mainImg {
  width: 30%;
  height: 30%;
  margin-left: 10px;
  margin-top: 30px;
}

#image {
  width: 30%;
  height: 30%;
  border: 1px black solid;
  border-radius: 5px;
}

/* Adjust button styles as needed */
#allies-btn,
#enemies-btn {
  padding: 10px 30px;
  font-family: "Courier New", Courier, monospace;
  top: -200px;
}

/* Default styles */
#enemies-btn {
  /* position: static; */
  /* left: -200%; Example percentage for initial position */
  /* z-index: 4; */
  left: 3%;
  /* align-items: center; */
}

#allies-btn {
  /* position: static; */
  /* right: -200%; */
}

/* Media query for smaller screens */
@media screen and (max-width: 1000px) {
  #enemies-btn,
  #allies-btn {
    position: static; /* Resets position for smaller screens */
    margin-top: 10px; /* Example: Adds space between buttons and image */
  }
}
